\.vs/

InterviewExercises/obj/

Algorithms/bin/
Algorithms/obj/

CodingChallenges/bin/
CodingChallenges/obj/

DataStructures/bin/
DataStructures/obj/

Shared/bin/
Shared/obj/

UnitTesting/bin/
UnitTesting/obj/